.navbar {
    background-color: #DB6F16;
}

.quem-somos {
    background-color: #F4D03F;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #F39C12;
}

.servicos {
    background-color: #EBCC05;
}

.bg-footer {
    background-color: black;
    color: white;
}